<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Infinite Card Slider JavaScript | CodingNepal</title>
    <link rel="stylesheet" href="../assets/css/tsodrano.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fontawesome Link for Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
      <!-- Favicons -->
    <link href="../assets/img/LOGO.png" rel="icon">
      <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/card.css" rel="stylesheet">
    <link href="../assets/fontawesome/css/all.css" rel="stylesheet">
    <link href="../assets/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="../assets/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-YTB7XYYMPW"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
  
          gtag('config', 'G-YTB7XYYMPW');
      </script>
    <script src="../assets/js/tsodrano.js" defer></script>
    <script src="../assets/js/main.js" defer></script>
  </head>
  <body>
    
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center">
          <a href="index.html" class="logo mr-auto"><img src="../assets/img/LOGO.png" alt="Logo iTeam-$" class="img-fluid"> <span class="iteam-text-logo">iTeam-$</span></a>
          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="index.html">Accueil</a></li>
              <li><a href="view/projet.html">Projets</a></li>
              <li><a href="view/membre.html">Qui sommes-nous</a></li>
              <li><a href="view/actualite.html">Actualités</a></li>
              <li><a href="view/tso_drano.html">Nos souhaits</a></li>
            </ul>
          </nav><!-- .nav-menu -->
          <a href="index.html#contact" class="join-btn ">Nous contacter</a>
        </div>
      </div>
    </div>
  </header><!-- End Header -->
  <main>
    <div class="wrapper">
      <i id="left" class="fa-solid fa-angle-left"></i>
      <ul class="carousel">
        <li class="card">
          <div class="img">
              <img src="images/img-1.jpg" alt="img" draggable="false">
          </div>
          <div class="card-content">
            <h2 class="name">David Dell</h2>
            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

            <button class="button">Voir</button>
          </div>
        </li>
        <li class="card">
          <div class="img">
              <img src="images/img-2.jpg" alt="img" draggable="false">
          </div>
          <div class="card-content">
            <h2 class="name">David Dell</h2>
            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

            <button class="button">Voir</button>
          </div>
        </li>
        <li class="card">
          <div class="img">
              <img src="images/img-2.jpg" alt="img" draggable="false">
          </div>
          <div class="card-content">
            <h2 class="name">David Dell</h2>
            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

            <button class="button">Voir</button>
          </div>
        </li>
        <li class="card">
          <div class="img">
              <img src="images/img-2.jpg" alt="img" draggable="false">
          </div>
          <div class="card-content">
            <h2 class="name">David Dell</h2>
            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

            <button class="button">Voir</button>
          </div>
        </li>
        <li class="card">
          <div class="img">
              <img src="images/img-2.jpg" alt="img" draggable="false">
          </div>
          <div class="card-content">
            <h2 class="name">David Dell</h2>
            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

            <button class="button">Voir</button>
          </div>
        </li>
        <li class="card">
          <div class="img">
              <img src="images/img-2.jpg" alt="img" draggable="false">
          </div>
          <div class="card-content">
            <h2 class="name">David Dell</h2>
            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

            <button class="button">Voir</button>
          </div>
        </li>
      </ul>
      <i id="right" class="fa-solid fa-angle-right"></i>
    </div>
  </main>

  </body>
</html>